<!-- dima-work -->
<section class="about-us">
    <div class="container">
        <ul class="about-list">
            <li class="about-item">
                <p class="about-text">
                    --- About us
                </p>
            </li>
            <li class="about-items">
                <h2 class="about-title">OUR CRAFTSMANSHIP: CREATING UNIQUE HANDMADE FURNITURE</h2>
            </li>
            <li class="about-item1">
                <p class="about-text0">
                    Discover the inspiration behind our modern and minimalist designs, and see how we bring them to
                    life through our skilled craftsmanship.
                </p>
            </li>
            <ul class="about-list-gift">
                <li class="about-item-gift">
                    <h2 class="about-title-gift">
                        5+
                    </h2>
                    <p class="about-text-gift">
                        Years of experience creating handcrafted furniture
                    </p>
                </li>
                <li class="about-item-gift">
                    <h2 class="about-title-gift">
                        100%
                    </h2>
                    <p class="about-text-gift">
                        Sustainably sourced materials used in all of our furniture
                    </p>
                </li>
                <li class="about-item-gift">
                    <h2 class="about-title-gift">
                        500+
                    </h2>
                    <p class="about-text-gift">
                        Unique furniture designs crafted by our skilled artisans
                    </p>
                </li>
            </ul>
        </ul>
        <ul class="special">
            <li class="special-item">
                <img class="special-photo" src="" alt="white duvan">
            </li>
        </ul>
    </div>
</section>