<section class="bestsellers">
    <div class="container">
        <h2 class="bestsellers-title">BESTSELLERS</h2>

        <div class="content-box">

            <div class="bestsellers-bed">
                <article class="bestsellers-articles">
                    <img style="width: 536px; height: 489px;" src="./img/amazing_bed.webp" alt="Дуже красиве ліжко">
                    <h3 class="bestsellers-texts">The modern platform bed</h3>
                    <p class="bestsellers-prize">750$</p>
                </article>
            </div>
            <ul class="bestsellers-box">
                <li class="bestsellers-box-item">
                    <article class="bestsellers-article">
                        <img src="./img/cool_chairs.webp" class="bestsellers-photo" alt="Круті стільці">
                        <h3 class="bestsellers-text">
                            The Cozy Lounge Chair
                        </h3>
                        <p class="bestsellers-prize">
                            230$
                        </p>
                    </article>
                </li>
                <li class="bestsellers-box-item">
                    <article class="bestsellers-article">
                        <img src="./img/beautiful_chair.webp" class="bestsellers-photo" alt="Красивий стілець">
                        <h3 class="bestsellers-text">
                            The industrial accent chair
                        </h3>
                        <p class="bestsellers-prize">
                            250$
                        </p>
                    </article>
                </li>
                <li class="bestsellers-box-item">
                    <article class="bestsellers-article">
                        <img src="./img/lamp.webp" class="bestsellers-photo" alt="Лампа">
                        <h3 class="bestsellers-text">
                            The sleek stand
                        </h3>
                        <p class="bestsellers-prize">
                            300$
                        </p>
                    </article>
                </li>
                <li class="bestsellers-box-item">
                    <article class="bestsellers-article">
                        <img src="./img/modern_sofa.webp" class="bestsellers-photo" alt="Сучасний стілець">
                        <h3 class="bestsellers-text">
                            The minimalist sofa
                        </h3>
                        <p class="bestsellers-prize">
                            650$
                        </p>

                    </article>
                </li>
            </ul>
        </div>
    </div>
</section>