<!DOCTYPE html>
<html lang="en">

<footer class="footer">
    <div class="footer-container">
        <img class="footer-logo" src="" alt="footer logo">
        <address class="footer-adress">Obolonsky Prospect, 14, Kyiv</address>
        <p class="footer-daily">Daily 10:00-21:00</p>
        <ul class="footer-list">
            <li class="footer-about-us">About us</li>
            <li class="footer-our-products">Our products</li>
            <li class="footer-prices">Prices</li>
            <li class="footer-bestsellers">Bestsellers</li>
            <li class="footer-reviews">Reviews</li>
        </ul>
        <ul class="footer-contacts-list">
            <li class="footer-contacts-list-item">
                <a class="footer-contacts-list-link" href="tel:+380669384758">+380669384758</a>
            </li>
            <li class="footer-contacts-list-item">
                <a class="footer-contacts-list-link" href="tel:+380679384758">+380679384758</a>
            </li>
            <li class="footer-contacts-list-item">
                <a class="footer-contacts-list-link" href="mailto:minimal.furniture@gmail.com">minimal.furniture@gmail.com</a>
            </li>
        </ul>
        <p>By using this website, you agree to the Terms of Service and Privacy Policy</p>
    </div>
</footer>

</html>