<!-- Dima work -->

<section class="hero">
  <div class="container">
    <h2 class="furniture-title">Modern and minimalist furniture for you</h2>
    <ul class="dima-list">
      <li class="hero-item">
        <img
          class="hero-image"
          width="310px"
          height="329px"
          src="./img/half-sofa.webp"
          alt="chair"
        />
      </li>
      <li class="hero-item-2">
        <img
          class="dima-image"
          width="648px"
          height="530px"
          src="./img/sofa.webp"
          alt="duvan"
        />
      </li>
      <li class="hero-item-3">
        <img
          src="./img/image.webp"
          width="312px"
          height="337px"
          class="phooto"
          alt="polucha"
        />
      </li>
    </ul>
    <div class="hero-block">
      <p class="text-hero">
        Add a touch of elegance to your space with handcrafted furniture pieces
      </p>
      <div class="button-block">
        <button class="button-hero">Subscribe</button>
      </div>
    </div>
  </div>
</section>
