<!-- Dima work -->
<link rel="stylesheet" href="./css/hero.css" />
<section class="hero">
  <div class="container">
    <ul class="dima-list">
      <li class="dima-item">
        <h2 class="furniture-title">Modern and minimalist furniture for you</h2>
      </li>
      <li class="sef">
        <img
          class="dima-image"
          width="310px"
          height="329px"
          src="./img/half-sofa.webp"
          alt="chair"
        />
      </li>
    </ul>
    <ul class="dima-list">
      <li class="hj">
        <img
          class="dima-image2"
          width="648px"
          height="530px"
          src="./img/sofa.webp"
          alt="duvan"
        />
      </li>
    </ul>
    <ul class="dima-list">
      <li class="hero-item">
        <img
          src="../img/image.webp"
          width="312px"
          height="337px"
          class="phooto"
          alt="polucha"
        />
      </li>
      <li class="bj">
        <p class="text-hero">
          Add a touch of elegance to your space with handcrafted furniture
          pieces
        </p>
      </li>
      <li class="kj">
        <button class="button-hero">Subscribe</button>
      </li>
    </ul>
  </div>
</section>
