<section id="newsletter" class="newsletter">
    <div class="container newsletter-container">
        <ul class="newsletter-list">
            <li>
        <h2 class="newsletter-title">Newsletter</h2>
        <p class="newsletter-description">Every week we will send you new designs and information about sales.</p>
        <br><input type='text' value='Name' class="newsletter-input"><br>
        <br><input type="text" value="E-mail" class="newsletter-input"><br>
        <div class="newsletter-box">
        <br><input type="checkbox" class="newsletter-checkbox">
        <h3 class="newsletter-text">Agree to subscribe to the newsletter</h3>
    </div>
        <button type="submit" class="newsletter-button">Send</button>
    </li>
    <li>
        <img src="./img/product 14.webp" class="newsletter-image" alt="">
    </li>
    </ul>
    </div>
</section>