<section class="products">
  <div class="container">
  <h2 class="products-title">OUR PRODUCTS</h2>
  <ul class="products-list">
    <li class="products-item">
      <img class="products-photo" src="./img/9faba5a77eccf7ba8d0e67662f0db6a2.webp" alt="Sofa" />
      <p class="products-text">Minimalist storage solutions</p>
    </li>
    <li class="products-item">
      <img class="products-photo" src="./img/69e079c0a3047e1a2e3a22ffe9535fc0.webp" alt="blue sofa" />
      <p class="products-text">Handcrafted minimalist seating</p>
    </li>
    <li class="products-item">
      <img class="products-photo" src="./img/product_7.webp" alt="table" />
      <p class="products-text">Sleek and simple tables</p>
    </li>
    <li class="products-item">
      <img class="products-photo" src="./img/product_8.webp" alt="blue chair" />
      <p class="products-text">Minimalist seating for every space</p>
    </li>
  </ul>
  </div>
  </div>
</section>
