    <!-- max section -->
    <section class="reviews">
        <div class="container">
            <h2 class="reviews-title">Client reviews</h2>
            <ul class="reviews-list">
                <li class="reviews-item">
                    <div class="reviews-box">
                        <img src="./images/Ellipse 3.webp" class="reviews-photo" alt="">
                        <div class="reviews-texts">
                            <h3 class="reviews-text">Alexandra dream</h3>
                            <p class="reviews-time-text">1 week ago</p>
                        </div>
                    </div>
                    <p class="reviews-description">I was blown away by the quality and craftsmanship of the furniture I
                        received from this company.
                        Each
                        piece was unique and beautifully designed, and you can tell that a lot of thought and care goes
                        into
                        every detail. </p>
                </li>
                <li class="reviews-item">
                    <div class="reviews-box">
                        <img src="./images/Ellipse 2.webp" class="reviews-photo" alt="">
                        <div class="reviews-texts">
                            <h3 class="reviews-text">James Williams</h3>
                            <p class="reviews-time-text">A week ago</p>
                        </div>
                    </div>
                    <p class="reviews-description">The "Minimal" furniture set is a fantastic addition to my home. It
                        boasts a minimalist design,
                        enhancing the feel and look of my living space. The sturdy construction is worth noting too,
                        which
                        speaks volumes about its durability. </p>
                </li>
                <li class="reviews-item">
                    <div class="reviews-box">
                        <img src="./images/Ellipse 1.webp" class="reviews-photo" alt="">
                        <div class="reviews-texts">
                            <h3 class="reviews-text">Emily Watson</h3>
                            <p class="reviews-time-text">3 week ago</p>
                        </div>
                    </div>
                    <p class="reviews-description">The "Minimal" furniture set has far exceeded my expectations. The
                        sleek design combined with the
                        high-quality materials have not only added an exceptional aesthetic to my space but also offered
                        an
                        uncompromising standard of comfort. </p>
                </li>
            </ul>
    </section>