.about-us {
padding-top: 104px;
}

.about {
  background-color: #f7faff;
  width: 760px;
  height: 500px;
  align-self: center;
  margin-right: 24px;
}

.about-experience {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.about-experiences {
  width: 170px;
}
.about-list {
  display: flex;
}

.about-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--blue-font);
  margin-top: 35px;
  margin-left: 69px;
}

.about-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 141%;
  text-transform: uppercase;
  color: var(--blue-font);
  margin-top: 30px;
  margin-left: 69px;
  margin-right: 69px;
}

.about-text0 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--blue-font);
  margin: 30px 69px 30px 69px;
}


.about-text-gift {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: var(--blue-font);
}

.about-title-gift {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 50px;
  line-height: 150%;
  text-transform: uppercase;
  text-align: center;
  color: var(--blue-font);
  padding-bottom: 20px;
}

.about-us-photo {
  width: 536px;
  height: 540px;
}