.about-us {
  margin-top: 100px;
  display: flex;
  gap: 24px;
  flex-direction: row;
}

.about {
  padding-top: 36px;
  padding-left: 69px;
  padding-bottom: 34px;
  background-color: lightblue;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  width: 779px;
  margin-left: -20px;
  height: 534px;
  padding-right: 69px;
  margin-top: 15px;
}

.about-item {
}

.about-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--blue-font);
}

.about-items {
  margin-top: 30px;
  margin-bottom: 30px;
}

.about-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 141%;
  text-transform: uppercase;
  color: var(--blue-font);
}

.about-item1 {
  padding-bottom: 30px;
}

.gift {
  display: flex;
  gap: 55px;
  flex-direction: row;
}

.about-text0 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--blue-font);
}

.about-item-gift {
  width: 170px;
}

.about-text-gift {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: var(--blue-font);
}

.about-title-gift {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 50px;
  line-height: 150%;
  text-transform: uppercase;
  text-align: center;
  color: var(--blue-font);
  padding-bottom: 20px;
}
.special-item {
}
.about-us-photo {
  margin-left: 804px;
  margin-top: -550px;
  width: 536px;
  height: 570px;
}
.special-photo {
}
