.bestsellers {

    margin-bottom: 104px;
    margin-top: 110px;

  }
  
  
  .bestsellers-box {
    display: flex;
    flex-wrap: wrap;
  
  }
  

  .bestsellers-article{
    height: 273px;
  }
  
 .bestsellers-articles{
display: flex;
gap: 24px;
margin-left: 559px;
 }
  
  .bestsellers-texts{
    font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--blue-font);
  padding-left: 9px;
  }
  
  
  
  
  .bestsellers-photo{
    width: 258px;
    height: 193px;
  }
  
  
  .bestsellers-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--blue-font);
  }
  
  
  .bestsellers-prize {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: var(--blue-font);
  }
  
  
  .bestsellers-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  }
  
  
  .bestsellers-item {
    display: flex;
  max-height: 600px;
  }
  
  
  
  .bestsellers-title{
    font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 141%;
  text-transform: uppercase;
  color: var(--blue-font);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 42px;
  }
  