.header {
    background-color: var(--light-blue);
    padding: 38px 0 41px;
}


.header-box {
    display: flex;
    align-items: center;
}



.header-logo {}

.header-list {
    display: flex;
    margin-left: 572px;
    gap: 30px;
}

.header-item {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--blue-font);
}




.header-link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--blue-font);

}



