.hero {}

.container {}

.dima-list {}

.dima-item {}

.furniture-title {}

.dima-image {}

.dima-image2 {}

.hero-item {}

.phooto {}

.text-hero {}

.button-hero {
    background-color: ;
    padding-left: 72px;
    padding-right: 72px;
    padding-top: ;
    padding-bottom: 19px;
}