.hero {
  padding-top: 64px;
  padding-bottom: 100px;
}

.hero-container {
  display: flex;
  background-repeat: no-repeat;
  background-position: 345px 0;
  background-image: url(../img/sofa.webp);
}

.hero-title {
  color: #0a224a;
  width: 648px;
  text-transform: uppercase;
  font-family: 'Playfair Display';
  font-size: 50px;
  line-height: 150%;
  font-weight: 400;
}

.hero-box {
  margin-left: auto;
}

.hero-title::after {
  display: block;
  content: url('../img/half-sofa.webp');
  margin-top: 51px;
}

.hero-text {
  font-family: var(--font-family);
  width: 318px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  margin-top: 54px;
  margin-bottom: 35px;
  color: var(--blue-font);
}

.hero-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #0a224a;
  border: none;
  font-family: var(--font-family);
  padding: 17px 65px;
  width: 224px;
  height: 50px;
  font-size: 18px;
  font-weight: 400;
}
.hero-button:hover {
  transition: ease-in 0.5s;
  background-color: #061835;
}
