/* Reset styles */
* {
  margin-top: 0 ;
}

p:last-child {
  margin-bottom: 0 ;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
